<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rederia.beehelp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.rederia.beehelp.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.rederia.beehelp.TcpSocketService"
            android:enabled="true"
            android:exported="true"
            android:process=":tcp_socket_service_process" >
        </service>

        <activity android:name="com.rederia.beehelp.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.rederia.beehelp.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rederia.tcpreceiver.MainActivity" />
        </activity>
    </application>

</manifest>

